extends layout

block content

  div.row
    if (user)
      a.button(href="/edit/" + entry.__unid) Edit
      a.button(href="/delete/" + entry.__unid) Delete
    div.two-thirds.column
      p!= entry.body
    div.one-third.column
      strong Categories
      ul
        each category in entry.categories
          li
            a(href="/category/" + category) #{category}
      strong Tags
      ul
        each tag in entry.tags
          li
            a(href="/tag/" + tag) #{tag}
      | #{moment(entry.__created).format('LLL')} by #{entry.createdby}

  div.row
    div.two-thirds.column#disqus_thread
      script.
          var disqus_shortname = 'ldc-via-blog';
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
